@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;

  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-base text-gray-900 antialiased;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#app-root,
app-root {
  @apply flex flex-col min-h-screen w-full;
  max-width: 100vw;
  overflow-x: hidden;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

app-header,
app-hero,
app-about,
app-skills,
app-projects,
app-contact,
app-footer {
  display: block;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}


* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

